@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/*
KOYU 222222 
açık 434242
krem F3EFE0
siyah 000000

*/

* {
	box-sizing: border-box;
}

body {
	background-color: #222222;
	color: #F3EFE0;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
	background-color: #434242;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
	width: 350px;
	max-width: 100%;
}

.result-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #F3EFE0;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #222222;
}

.btn-large {
	display: block;
	width: 100%;
}

.btn:hover {
	background-color: #F3EFE0;
	color: #222222;
}

.btn:focus {
	outline: none;
}

.btn-clipboard:hover {
	background-color: #434242;
	color: #F3EFE0;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}


.floating-btn {
	border-radius: 26.5px;
	background-color: #434242;
	border: 1px solid #434242;
	box-shadow: 0 16px 22px -17px #000000;
	color: #F3EFE0;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #F3EFE0;
	color: #222222;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #222222;
	border-radius: 10px 10px 0 0;
	color: #F3EFE0;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}